body {
    background: url("https://catherineasquithgallery.com/uploads/posts/2021-12/1639682545_197-catherineasquithgallery-com-p-rozovie-oboi-na-aifon-290.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
